/*
 * fontface.css
 * List all of the font
 * 
 */

@font-face {
	font-family: 'gothamnarrow-xlight';
	src: url('../fonts/gothamnarrow-xlight.eot');
	src: url('../fonts/gothamnarrow-xlight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothamnarrow-xlight.woff') format('woff'),
		url('../fonts/gothamnarrow-xlight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothamnarrow-light';
	src: url('../fonts/gothamnarrow-light.eot');
	src: url('../fonts/gothamnarrow-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothamnarrow-light.woff') format('woff'),
		url('../fonts/gothamnarrow-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothamnarrow-book';
	src: url('../fonts/gothamnarrow-book.eot');
	src: url('../fonts/gothamnarrow-book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothamnarrow-book.woff') format('woff'),
		url('../fonts/gothamnarrow-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothamnarrow-medium';
	src: url('../fonts/gothamnarrow-medium.eot');
	src: url('../fonts/gothamnarrow-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothamnarrow-medium.woff') format('woff'),
		url('../fonts/gothamnarrow-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gothamnarrow-bold';
	src: url('../fonts/gothamnarrow-bold.eot');
	src: url('../fonts/gothamnarrow-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gothamnarrow-bold.woff') format('woff'),
		url('../fonts/gothamnarrow-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
