/*!
 * 1. Common
 * 2. Useful Class
 * 3. Global Setting
 * 4. Header
 * 5. Content
 * 6. Form
 * 7. Footer
 * 8. Media Query
 */



/* 1. Common
==================== */
* {
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}
a {
	color: #18396a;
	-webkit-transition: all 0.2s linear 0s;
	   -moz-transition: all 0.2s linear 0s;
			transition: all 0.2s linear 0s;
}
a:hover,
a:visited,
a:focus,
a:active {
	outline: none !important;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 48px;
	line-height: 60px;
	margin-bottom: 20px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
}
h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}
h4 {
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 20px;
}
h5 {
	font-size: 14px;
	line-height:28px;
	margin-bottom: 20px;
	margin-bottom: 20px;
}
h6 {
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 0;
}



/* 2. Useful Class
==================== */
.proj-textcenter {
	text-align: center !important;
}
.proj-textleft {
	text-align: left !important;
}
.proj-textright {
	text-align: right !important;
}
.proj-text10 {
	font-size: 10px !important;
	line-height: 14px !important;
}
.proj-text11 {
	font-size: 11px !important;
	line-height: 16px !important;
}
.proj-text12 {
	font-size: 12px !important;
	line-height: 20px !important;
}
.proj-text14 {
	font-size: 14px !important;
}
.proj-text16 {
	font-size: 16px !important;
}
.proj-text18 {
	font-size: 18px !important;
}
.proj-text20 {
	font-size: 20px !important;
}
.proj-text24 {
	font-size: 24px !important;
}
.proj-text36 {
	font-size: 36px !important;
	line-height: 32px;
}
.proj-text44 {
	font-size: 44px !important;
	line-height: 40px;
}
.proj-textitalic {
	font-style: italic;
}
.proj-textunderline {
	text-decoration: underline;
}
.proj-inlinecontainer {
	font-size: 0;
}
.proj-inlinecontainer.top > .proj-inlineblock {
	vertical-align: top;
}
.proj-inlinecontainer.middle > .proj-inlineblock {
	vertical-align: middle;
}
.proj-inlinecontainer.bottom > .proj-inlineblock {
	vertical-align: bottom;
}
.proj-inlinecontainer > .proj-inlineblock {
	vertical-align: middle;
	margin-right: 10px;
	font-size: 14px;
}
.proj-inlinecontainer.top > .proj-inlineblock {
	vertical-align: top;
}
.proj-inlinecontainer > .proj-inlineblock:last-child {
	margin-right: 0;
}
.proj-inlinecontainer.twocolumn > .proj-inlineblock {
	margin: 0;
	width: 50%;
}
.proj-inlineblock {
	display: inline-block;
}
.proj-block {
	display: block;
}
.proj-nomargin {
	margin: 0 !important;
}
.proj-childnomargin * {
	margin: 0 !important;
}
.proj-centermargin {
	margin: 0 auto;
}
.proj-margin5 {
	margin-bottom: 5px !important;
}
.proj-margin10 {
	margin-bottom: 10px !important;
}
.proj-margin20 {
	margin-bottom: 20px !important;
}
.proj-margin30 {
	margin-bottom: 30px !important;
}
.proj-margin40 {
	margin-bottom: 40px !important;
}
.proj-margin60 {
	margin-bottom: 60px !important;
}
.proj-margin80 {
	margin-bottom: 80px !important;
}
.proj-margin100 {
	margin-bottom: 100px !important;
}
.proj-inlineblock.proj-margin5,
.proj-inlineblock.proj-margin10,
.proj-inlineblock.proj-margin20,
.proj-inlineblock.proj-margin30,
.proj-inlineblock.proj-margin40 {
	margin: 0 !important;
}
.proj-inlineblock.proj-margin5 {
	margin-right: 5px !important;
}
.proj-inlineblock.proj-margin10 {
	margin-right: 10px !important;
}
.proj-inlineblock.proj-margin20 {
	margin-right: 20px !important;
}
.proj-inlineblock.proj-margin30 {
	margin-right: 30px !important;
}
.proj-inlineblock.proj-margin40 {
	margin-right: 40px !important;
}
.proj-padding {
	padding: 20px;
}
.proj-paddingtop {
	padding-top: 40px;
}
.proj-paddingbottom {
	padding-bottom: 40px;
}
.proj-paddingleft {
	padding-left: 20px;
}
.proj-paddingright {
	padding-right: 20px;
}
.proj-nopadding {
	padding: 0 !important;
}
.proj-nopaddingtop {
	padding-top: 0 !important;
}
.proj-margincenter,
.proj-margincenter * {
	margin-left: auto;
	margin-right: auto;
}
.proj-responsiveimage {
	max-width: 100%;
	height: auto;
	display: block;
}
.proj-fullresponsiveimage {
	width: 100%;
	height: auto;
	display: block;
}
.proj-relative {
	position: relative;
}
.proj-table {
	display: table;
	width: 100%;
	height: 100%;
}
.proj-tablecell {
	display: table-cell;
	height: 100%;
}
.proj-tablecell.middle {
	vertical-align: middle;
}
.proj-tablecell.bottom {
	vertical-align: bottom;
}



/* 3. Global setting
==================== */
html {
	height: 100%;
}
body {
    font-size: 16px;
    position: relative;
    color: #fff;
    width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: url('../media/bg.jpg') no-repeat center center;
}
.proj-textred {
	color: #ff0707;
}
.proj-textyellow {
	color: #ffd007;
}
.proj-textwhite {
	color: #fff;
}
.proj-uppercase {
	text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
.proj-heading1 > * {
	font-size: 120px;
	line-height: 140px;
	margin: 0;
}
.proj-heading2 > * {
	font-size: 55px;
	line-height: 60px;
	margin: 0;
}
.proj-heading3 > * {
	font-size: 32px;
	line-height: 42px;
	margin: 0;
}
.proj-heading4 > * {
	font-size: 20px;
	line-height: 26px;
	margin: 0;
}
.proj-heading5 > * {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}
.proj-heading6 > * {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
.proj-paragraph > * {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 10px;
}
.proj-paragraphsmall > * {
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 10px;
}
.proj-paragraph ul,
.proj-paragraph ol,
.proj-paragraphsmall ul,
.proj-paragraphsmall ol {
	margin-left: 20px;
}



/* 4. Header
==================== */
#proj-logo {
	position: absolute;
	top: 40px;
	left: 40px;
}
#proj-logo img {
	height: 100px;
}
#proj-room {
	width: 800px;
	height: 100px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -396px;
}
#proj-room #proj-roomname {
	line-height: 100px;
    width: 100%;
    height: 100px;
    border: none;
    background: none;
    text-align: center;
    font-size: 70px;
	font-family: 'gothamnarrow-bold';
	text-transform: uppercase;
}
#proj-room.buffet {
	width: 800px;
	margin-left: -400px;
}
#proj-room.buffet #proj-roomname {
	line-height: 100px;
}
#proj-room select {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
}
#proj-time {
	position: absolute;
	top: 65px;
	right: 40px;
	height: 100px;
	line-height: 100px;
	font-size: 60px;
	font-family: 'gothamnarrow-xlight';
}
#proj-day {
	position: absolute;
	top: 5px;
	right: 40px;
	height: 100px;
	line-height: 100px;
	font-size: 36px;
	font-family: 'gothamnarrow-xlight';
}



/* 5. Content
==================== */
#proj-list {
	position: absolute;
	top: 200px;
}
#proj-list .swiper-slide {
	padding: 0 20px;
}
.proj-list {
	position: relative;
	width: 900px;
	height: 145px;
	margin: 0 20px;
	background: #003568;
	overflow: hidden;
	padding-right: 260px;
	font-family: 'gothamnarrow-bold';
	float: left;
	margin-bottom: 28px;
	-webkit-border-radius: 80px;
			border-radius: 80px;
	-webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.proj-list-name {
	font-size: 60px;
	padding-left: 40px;
	line-height: 145px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'gothamnarrow-bold';
}
.proj-list-qty {
	position: absolute;
	top: 0;
	right: 0;
	width: 240px;
	height: 145px;
	line-height: 145px;
	text-align: right;
	padding-right: 40px;
	font-size: 60px;
	color: #003568;
	background: url('../media/bg-list.png') no-repeat center center;
}
.warning .proj-list-qty {
	color: #fff;
	background: url('../media/bg-list-warning.png') no-repeat center center;
}
.oos .proj-list-qty {
	color: #fff;
	background: none;
}
#proj-buffet {
	height: 880px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#proj-buffet:after {
	position: absolute;
	width: 2px;
	height: 80%;
	position: absolute;
	left: 50%;
	top: 10%;
	background: rgba(255,255,255,0.2);
	content: ' ';
}
.proj-buffet {
	position: relative;
	width: 900px;
	margin: 0 20px;
	overflow: hidden;
	padding: 0 40px;
	float: left;
}
.proj-buffet.left,
.proj-buffet.right {
	height: 800px;
}
.proj-buffetname {
	font-size: 36px;
	text-align: center;
	line-height: 80px;
}
.proj-buffetdesc {
	font-size: 24px;
	text-align: center;
}
.proj-buffet-stok {
	font-size: 240px;
	line-height: 260px;
	text-align: center;
	font-weight: bold;
}
.proj-buffet-stok-title {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}
.proj-buffet-ribbon {
	position: absolute;
	left: 0;
	right: 0;
}
.proj-buffet-ribbon.top {
	top: 0;
}
.proj-buffet-ribbon.bottom {
	bottom: 0;
}
.proj-buffet-ribbon img {
	display: block;
	margin: 0 auto;
}




/* 6. Form
==================== */



/* 7. Footer
==================== */